.all-studennt {
    h1 {
        display: flex;
        justify-content: center;
        font-family: sans-serif;
        color: lightblue;
        background-color: black;
    }

    .be-student table {
      border-color: rgb(2, 25, 73);
      border-spacing: 1px;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        border-collapse: collapse;
        
    }
    th,td{
            padding: 20px;
        }
        th{
            color: blue;
        }
        td{
            color: rgb(9, 61, 128);
        }

    .bcs-studnet {
        margin-top: 5vh;
    }

    .bcs-studnet table {
        border-color: rgb(2, 25, 73);
        margin: auto;
        margin-top: 10px;
        text-align: center;
        border-collapse: collapse;
     
    }

    .mca-student {
        margin-top: 5vh;
    }
    .mca-student table{
         border-color: rgb(2, 25, 73);
        margin: auto;
        margin-top: 10px;
        text-align: center;
        border-collapse: collapse;
   
    }

}